body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

sidebar1: {
  position: "fixed",
  width: "200px",
  height: "100%",
  gap: "5px",
  fontFamily: "cursive",
  backgroundColor: "#333",
  display: "flex",
  flexDirection: "column",
  paddingTop: "15px",
  paddingBottom: "20px",
  color: "#f4f4f4",
  textAlign: "center",
  margin: 0,
  padding: 0,
  left: 0,
  top: 0,
},
sidebarItem: {
  width: "100%",
  display: "flex",
  justifyContent: "center",
  marginBottom: "5px",
  alignItems: "center",
},
sidebarBox: {
  backgroundColor: "#444",
  color: "#fff",
  padding: "20px 10px",
  width: "70%",
  textAlign: "center",
  borderRadius: "5px",
  cursor: "pointer",
  transition: "background-color 0.3s",
  margin: 0,
},

.mainContent {
  margin-left: 220px;
  padding: 20px;
}

.stretchableHeading {
  background-color: #444;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-bottom: 10px;
}

.content {
  padding: 10px;
  display: none; /* Initially hidden */
  background-color: #f4f4f4;
  color: #000;
}

.expandedContent {
  display: block; /* Show content when expanded */
}

.buttonsRow {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

button {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #008cba;
  color: #fff;
  font-size: 14px;
}

button.playButton {
  background-color: #4caf50; /* Green color for Play button */
}

button.learnButton {
  background-color: green;
  color: #fff;
  margin-left: auto;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .sidebar1 {
    width: 150px;
  }

  .mainContent {
    margin-left: 170px;
  }

  .sidebarBox {
    padding: 15px 5px;
    width: 80%;
  }
}

@media (max-width: 480px) {
  .sidebar1 {
    width: 120px;
  }

  .mainContent {
    margin-left: 130px;
  }

  .sidebarBox {
    padding: 10px;
    width: 90%;
  }
}
